body {
  font-family: 'Montserrat', sans-serif;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.mw-800 {
  max-width: 800px;
}
.nav-button {
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
  &:hover {
    background-color: #0483d7;
  }
  display: flex;
  align-items: center;
  a {
    color: white;
  }
}

.center_md {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}
.ml-15 {
  margin-left: 15px;
}

.overflow-scroll {
  overflow: scroll;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
